* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $geist;
  background-color: #08070d;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}
.wrapper {
  overflow: hidden;
}
/*===== header start =====*/
header {
  background-color: rgba(8, 7, 13, 0.77);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  transition: padding-block ease-out 0.5s;

  &.sticky {
    padding-block: 10px;
  }
}

.header {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a.logo {
      flex-shrink: 0;
      img {
        display: block;
      }
    }
    .navlink {
      display: flex;
      align-items: center;
      column-gap: 30.88px;
      list-style: none;
      li a {
        font-family: $inter;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
      }
    }
    .login-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 20px;
      column-gap: 8px;
      border-radius: 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-family: $inter;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      text-decoration: none;
      height: 50px;
    }
  }
}
/*===== header end =====*/

/*===== hero start =====*/
#hero {
  background: radial-gradient(
    90.88% 92.84% at 68.75% 103.9%,
    #e6b8a8 20.37%,
    #be9fc6 33.36%,
    #1f47af 70.78%,
    #08070d 100%
  );
  overflow: hidden;
  .container {
    align-content: center;
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: 1;
  }
}

.hero {
  &-wrapper {
    max-width: 574.595px;
    h1.title {
      color: #fff;
      font-size: 44px;
      font-weight: 500;
      line-height: 105%; /* 46.2px */
      margin-bottom: 16px;
    }
    h5.subtitle {
      color: #d4d4d8;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      opacity: 0.7;
    }
    &-series {
      display: flex;
      column-gap: 40px;
      margin-block: 48px 87.99px;
      .serie {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 10px;
        text-align: center;
        img {
          display: block;
          flex-shrink: 0;
          aspect-ratio: 23/69.01;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          line-height: 120%; /* 21.6px */
          margin-bottom: 4px;
        }
        h6 {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          line-height: 120%; /* 15.6px */
        }
      }
    }
    &__btn {
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.32);
      background: linear-gradient(180deg, #fff 0%, #cdcdcf 100%);
      box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
      padding: 20px 32px;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%; /* 27px */
      text-decoration: none;
      display: inline-block;
    }
  }
}

.heroes {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
  &__img {
    overflow: hidden;
  }
  img {
    display: block;
  }
}
/*===== hero end =====*/

/*===== encounter start =====*/
#encounter {
  padding-top: 156px;
  .title {
    max-width: 897px;
    margin-inline: auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
    margin-bottom: 50px;
    span {
      display: inline-block;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .encounter {
    &__card {
      min-height: 550px;
      --bg1: #969696;
      --bg2: #be9fc6;
      --bg3: #1f47af;
      --bg4: #08070d;

      background: radial-gradient(
        62.98% 103.11% at 47.31% 116.85%,
        #969696 33.36%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(8, 7, 13, 0.1) 100%
      );
      padding-bottom: 126px;
      align-content: end;
      position: relative;
      transition: ease-out all 10s;
      z-index: 1;
      &::after {
        content: " ";
        width: 100%;
        height: 153px;
        position: absolute;
        z-index: -1;
        background: radial-gradient(
          78.62% 97.81% at 47.4% 100%,
          rgba(8, 7, 13, 0) 71.62%,
          #08070d 95.45%
        );
        bottom: -10px;
        left: 0;
        transform: rotate(180deg);
      }
      &.show {
        background: radial-gradient(
          62.98% 103.11% at 47.31% 116.85%,
          #e6b8a8 20.37%,
          #be9fc6 33.36%,
          #1f47af 70.78%,
          #08070d 100%
        );
      }
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 20px;
      }
      &-about {
        h3 {
          color: #fff;
          font-size: 32px;
          font-weight: 500;
          line-height: 115%; /* 36.8px */
          margin-bottom: 12px;
        }
        h4 {
          color: rgba(255, 255, 255, 0.5);
          font-size: 20px;
          font-weight: 500;
          line-height: 125%; /* 25px */
        }
        &.right {
          padding-left: 60px;
          opacity: 0;
        }
      }
    }
    &-img {
      display: block;
    }
  }
}
/*===== encounter end =====*/
