* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $geist;
  background-color: #08070d;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}
.wrapper {
  overflow: hidden;
}
/*===== header start =====*/
header {
  background-color: rgba(8, 7, 13, 0.77);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  transition: padding-block ease-out 0.5s;

  &.sticky {
    padding-block: 10px;
  }
}

.header {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a.logo {
      flex-shrink: 0;
      img {
        display: block;
      }
    }
    .navlink {
      display: flex;
      align-items: center;
      column-gap: 30.88px;
      list-style: none;
      li a {
        font-family: $inter;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
      }
    }
    .login-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 20px;
      column-gap: 8px;
      border-radius: 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-family: $inter;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      text-decoration: none;
      height: 50px;
    }
  }
}
/*===== header end =====*/

/*===== hero start =====*/
#hero {
  background: radial-gradient(
    90.88% 92.84% at 68.75% 103.9%,
    #e6b8a8 20.37%,
    #be9fc6 33.36%,
    #1f47af 70.78%,
    #08070d 100%
  );
  overflow: hidden;
  .container {
    align-content: center;
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: 1;
  }
}

.hero {
  &-wrapper {
    max-width: 574.595px;
    h1.title {
      color: #fff;
      font-size: 44px;
      font-weight: 500;
      line-height: 105%; /* 46.2px */
      margin-bottom: 16px;
    }
    h5.subtitle {
      color: #d4d4d8;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      opacity: 0.7;
    }
    &-series {
      display: flex;
      column-gap: 40px;
      margin-block: 48px 87.99px;
      .serie {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 10px;
        text-align: center;
        img {
          display: block;
          flex-shrink: 0;
          aspect-ratio: 23/69.01;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          line-height: 120%; /* 21.6px */
          margin-bottom: 4px;
        }
        h6 {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          line-height: 120%; /* 15.6px */
        }
      }
    }
    &__btn {
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.32);
      background: linear-gradient(180deg, #fff 0%, #cdcdcf 100%);
      box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
      padding: 20px 32px;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%; /* 27px */
      text-decoration: none;
      display: inline-block;
      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.32);
        background: rgb(255, 255, 255);
      }
    }
  }
}

.heroes {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
  &__img {
    overflow: hidden;
  }
  img {
    display: block;
  }
}
/*===== hero end =====*/

/*===== encounter start =====*/
#encounter {
  padding-top: 156px;
  .title {
    max-width: 897px;
    margin-inline: auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
    margin-bottom: 50px;
    span {
      display: inline-block;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .encounter {
    &__card {
      min-height: 550px;
      --bg1: #969696;
      --bg2: #be9fc6;
      --bg3: #1f47af;
      --bg4: #08070d;

      background: radial-gradient(
        62.98% 103.11% at 47.31% 116.85%,
        #969696 33.36%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(8, 7, 13, 0.1) 100%
      );
      padding-bottom: 126px;
      align-content: end;
      position: relative;
      transition: ease-out all 10s;
      z-index: 1;
      &::after {
        content: " ";
        width: 100%;
        height: 153px;
        position: absolute;
        z-index: -1;
        background: radial-gradient(
          78.62% 97.81% at 47.4% 100%,
          rgba(8, 7, 13, 0) 71.62%,
          #08070d 95.45%
        );
        bottom: -10px;
        left: 0;
        transform: rotate(180deg);
      }
      &.show {
        background: radial-gradient(
          62.98% 103.11% at 47.31% 116.85%,
          #e6b8a8 20.37%,
          #be9fc6 33.36%,
          #1f47af 70.78%,
          #08070d 100%
        );
      }
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 20px;
      }
      &-about {
        h3 {
          color: #fff;
          font-size: 32px;
          font-weight: 500;
          line-height: 115%; /* 36.8px */
          margin-bottom: 12px;
        }
        h4 {
          color: rgba(255, 255, 255, 0.5);
          font-size: 20px;
          font-weight: 500;
          line-height: 125%; /* 25px */
        }
        &.right {
          padding-left: 60px;
          opacity: 0;
        }
      }
    }
    &-img {
      display: block;
    }
  }
}
/*===== encounter end =====*/
/*===== results start =====*/
#results {
  padding-block: 150px 20px;
}
.results {
  &-wrapper {
    display: flex;
    column-gap: 48px;
    &__left {
      height: fit-content;
      flex: 1;
      h3 {
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        line-height: 115%; /* 36.8px */
        margin-bottom: 10px;
      }
      h4 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 500;
        line-height: 125%; /* 25px */
      }
    }

    &__right {
      flex: 1;
      .card {
        position: relative;
        z-index: 1;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.05);
        padding: 40px;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        h4.title {
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          line-height: 125%; /* 30px */
        }
        &-learning {
          img.ellipsis {
            display: block;
            position: absolute;
            top: calc(100% - 100px);
            left: 50%;
            transform: translateX(-50%);
          }

          .counter {
            margin-top: 46px;
            display: block;
            width: fit-content;
            margin-inline: auto;
            img {
              margin-inline: auto;
              display: block;
              margin-bottom: 20px;
            }
            #count {
              border-radius: 50px;
              background: radial-gradient(
                246.34% 251.66% at 55.82% -84.41%,
                #e6b8a8 20.37%,
                #be9fc6 33.36%,
                #1f47af 70.78%
              );
              align-content: center;
              min-width: 75.195px;
              text-align: center;
              height: 60.796px;
              overflow: hidden;
              padding-inline: 10px;
              display: inline-block;
              color: #fff;
              font-family: $manrope;
              font-size: 43.375px;
              font-weight: 500;
              line-height: 130%; /* 56.387px */
              letter-spacing: -0.434px;
            }
          }
        }
        &-partners {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .main-partner {
            display: block;
            width: fit-content;
            margin-inline: auto;
            text-align: center;
            img {
              display: block;
              margin-bottom: 13px;
              margin-inline: auto;
              border-radius: 50%;
            }
            h5 {
              color: #fff;
              font-size: 20.515px;
              font-weight: 500;
              line-height: 120%; /* 24.618px */
              letter-spacing: 0.57px;
              &:last-child {
                opacity: 0.5;
                margin-top: 3.42px;
              }
            }
          }
          &__count {
            position: absolute;
            right: 30px;
            bottom: 30px;
            border-radius: 12.195px;
            background: rgba(255, 255, 255, 0.15);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 110%; /* 19.8px */
            letter-spacing: -0.305px;
            padding: 15px 9px 14px 10px;
          }
        }
        &-overcome {
          img {
            position: absolute;
            bottom: 0;
            right: 30px;
          }
        }
      }
    }
  }
}
.partners {
  .partner-img {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    border-radius: 50%;

    transition: ease-out filter 0.3s;
    img {
      display: block;
      aspect-ratio: 1/1;
    }
    &:first-child {
      opacity: 0.3;
      filter: blur(1.3241904973983765px);
      top: 50%;
      transform: translateY(-50%) rotate(8deg);
      left: 90px;
      img {
        transform: scale(1.15);
      }
    }
    &:nth-child(2) {
      transform: rotate(-2deg);
      top: 100px;
      right: 50px;
      opacity: 0.5;
      filter: blur(1.3241904973983765px);
      img {
        transform: scale(1.05);
      }
    }
    &:nth-child(3) {
      transform: rotate(-16deg);
      left: 90px;
      bottom: 40.85px;
      filter: blur(0.9729012846946716px);
      img {
        transform: scale(1.25);
      }
    }
    &:last-child {
      right: 104px;
      bottom: 93px;
      filter: blur(1.8313682079315186px);
      transform: rotate(-4deg);
      img {
        transform: scale(1.2);
      }
    }
    &:hover {
      filter: blur(0px);
    }
  }
}
/*===== results end =====*/

/*===== stat start ===== */
#stat {
  padding-block: 68px 50px;
  background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 34.83%);
  position: relative;
  z-index: 2;
}
.stat {
  &-btn {
    border-radius: 38.681px;
    background: radial-gradient(
      302.55% 255.89% at 37.2% 247.19%,
      #e6b8a8 20.37%,
      #be9fc6 52.91%,
      #1f47af 100%
    );
    color: #fff;
    text-align: center;
    width: fit-content;
    min-width: 310.463px;
    min-height: 69.987px;
    padding-inline: 15px;
    font-size: 16.893px;
    font-weight: 500;
    line-height: 100%; /* 16.893px */
    letter-spacing: 0.603px;
    display: block;
    align-content: center;
    text-decoration: none;
    margin-left: auto;
  }
  &-wrapper {
    .stat-logo {
      display: block;
      flex-shrink: 0;
    }
    margin-top: 112px;
    background-image: url("../svg/lines.svg");
    background-repeat: no-repeat;
    background-size: 2307.59px 468.232px;
    background-position: center;
    min-height: 468.232px;
    align-content: center;
    .container {
      display: flex;
      align-items: center;
      column-gap: 243px;
    }

    .flex {
      width: 100%;
      display: flex;
      &:first-child {
        justify-content: flex-end;
        column-gap: 100px;
        transform: translateY(-50px);
        .stat-wrapper__users-item {
          &:first-child {
            transform: translateY(30px);
          }
        }
      }
      &:last-child {
        transform: translateY(80px);
        justify-content: space-between;
        .stat-wrapper__users-item {
          &:last-child {
            transform: translateY(50px);
            margin-right: 100px;
          }
        }
      }
    }
    .stat-wrapper__users {
      width: 100%;
      &-item {
        max-width: 270.618px;
        img {
          display: block;
          margin-bottom: 15px;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 120%; /* 21.6px */
          letter-spacing: 0.72px;
          span {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
/*===== stat end ===== */

/*===== relevant start =====*/
#relevant {
  padding-block: 150px;
}
.relevant {
  &-wrapper {
    h3.title {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      line-height: 115%; /* 36.8px */
      margin-bottom: 10px;
    }
    h4.subtitle {
      color: rgba(255, 255, 255, 0.5);
      font-size: 20px;
      font-weight: 500;
      line-height: 125%; /* 25px */
    }
  }
}

.relevant {
  &-splide {
    margin-block: 75px 60px;
    .splide__track {
      overflow: hidden;
      border-radius: 50px;
    }
    .splide__pagination {
      display: none;
    }
    .splide__arrow {
      background-color: transparent;
      width: 44px;
      height: 44px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .splide__arrow--next {
      background-image: url("../svg/next.svg");
      right: -64px;
    }
    .splide__arrow--prev {
      background-image: url("../svg/prev.svg");
      left: -64px;
    }
    .splide__arrow svg {
      display: none;
    }
  }
  &__card {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
    padding: 24px;
    min-height: 575px;
    color: #fff;
    position: relative;
    overflow: hidden;
    &.bg {
      background-image: url("../images/type4.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50px;
    }
    h4.title {
      font-size: 24px;
      font-weight: 500;
      line-height: 125%; /* 30px */
      margin-bottom: 20px;
    }
    h5.subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: 0.5px;
    }
    &-images {
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 0;
      img {
        display: block;
      }
      &.type-one {
        img {
          &:first-child {
            margin-left: auto;
            margin-bottom: 23px;
          }
          &:last-child {
            margin-right: auto;
          }
        }
      }
      &.type-two {
        padding-inline: 24px;
        img:last-child {
          margin-left: 87px;
          margin-top: 23px;
        }
      }
      &.type-three {
        width: 100%;
        padding-inline: 24px;
        display: flex;
        column-gap: 20px;
        img {
          &:first-child {
            margin-top: -160px;
          }
          &:nth-child(2) {
            margin-top: -80px;
          }
        }
      }
      &.type-four {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        img {
          &:first-child {
            margin-top: 100px;
            margin-right: -30px;
          }
        }
      }
    }
    &-about {
      transition: ease-out all 0.3s;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 24px;
      background: rgb(25 24 29);
      z-index: -1;
      color: #fff;
      overflow-y: auto;
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 125%; /* 30px */
        margin-bottom: 20px;
      }
      h6 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: 0.5px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        span {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    &:hover {
      .relevant__card-about {
        opacity: 1;
        z-index: 2;
      }
    }
  }
  &-btn {
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.32);
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
    padding: 20px 32px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
    display: block;
    width: fit-content;
    margin-inline: auto;
    text-decoration: none;
  }
}

/*===== relevant end =====*/
/*===== Visionary start =====*/
#visionary {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  border-radius: 40px 40px 90px 90px;
  padding-top: 100px;
  background-image: url("../svg/visionary-bg.svg"),
    radial-gradient(
      127.4% 127.4% at 47.31% -25.31%,
      #e6b8a8 20.37%,
      #be9fc6 33.36%,
      #1f47af 70.78%,
      #08070d 100%
    );

  background-position: top center, top center;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 296.859px;
    z-index: 4;
    background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 100%);
  }
  .title-block {
    text-align: center;
    position: relative;
    z-index: 4;
    h5 {
      color: #fff;
      font-size: 20.921px;
      font-weight: 400;
      line-height: 20.921px; /* 100% */
      letter-spacing: -0.314px;
      margin-bottom: 25px;
    }
    h1 {
      color: #fff;
      font-size: 64px;
      font-weight: 500;
      line-height: 100%; /* 64px */
      letter-spacing: -2.092px;
      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .visionary-main-img {
    margin-top: -250px;
    margin-inline: auto;
    display: block;
    position: relative;
    z-index: 3;
  }
  .visionary-cards {
    position: absolute;
    top: 10%;
    padding-inline: 40px;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: minmax(170px, auto) minmax(170px, auto);
    justify-content: space-between;
    align-items: anchor-center;
    .card {
      opacity: 0.7;
      border-radius: 22px;
      background: rgba(255, 255, 255, 0.12);
      width: 100%;
      max-width: 280px;
      min-height: 170px;
      padding: 19px 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      &:nth-child(odd) {
        transform: rotate(10deg) skewX(10deg);
      }
      &:nth-child(even) {
        transform: rotate(-10deg) skewX(-10deg);
      }
      img {
        display: block;
      }
      h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
      }
    }
  }
}

/*===== Visionary end =====*/
/*===== practice start =====*/
#practice {
  padding-block: 100px 160px;
  h2.title {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
  }
}

.practice {
  &-splide {
    margin-top: 75px;
    .splide__arrow {
      display: none;
    }
  }
  &-card {
    width: 100%;
    &__img {
      display: block;
      width: 100%;
      border-radius: 24px;
      border: 1.5px solid rgba(255, 255, 255, 0.15);
      margin-bottom: 16px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
      h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        letter-spacing: 0.5px;

        display: -webkit-box;
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.15);
        flex-shrink: 0;
        cursor: pointer;
        img {
          transform: translateX(1px);
          display: block;
        }
      }
    }
  }
}
/*===== practice end =====*/
