* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $geist;
  background-color: #08070d;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  @media (max-width: 1290px) {
    max-width: 1020px;
  }
}
.wrapper {
  overflow: hidden;
}
/*===== header start =====*/
header {
  background-color: rgba(8, 7, 13, 0.77);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  transition: padding-block ease-out 0.5s;

  &.sticky {
    padding-block: 10px;
  }
}

.header {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__right {
      .bars {
        display: none;
      }
    }
    a.logo {
      flex-shrink: 0;
      img {
        display: block;
      }
    }
    .navlink {
      display: flex;
      align-items: center;
      column-gap: 30.88px;
      list-style: none;
      li a {
        font-family: $inter;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
      }
    }
    .login-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 20px;
      column-gap: 8px;
      border-radius: 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-family: $inter;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      text-decoration: none;
      height: 50px;
    }
  }
}
/*===== header end =====*/

/*===== hero start =====*/
#hero {
  position: relative;
  z-index: 1;
  background: radial-gradient(
    90.88% 92.84% at 68.75% 103.9%,
    #e6b8a8 20.37%,
    #be9fc6 33.36%,
    #1f47af 70.78%,
    #08070d 100%
  );
  .container {
    align-content: center;
    width: 100%;
    height: 100dvh;
  }
}

.hero {
  &-wrapper {
    max-width: 574.595px;
    h1.title {
      color: #fff;
      font-size: 44px;
      font-weight: 500;
      line-height: 105%; /* 46.2px */
      margin-bottom: 16px;
    }
    h5.subtitle {
      color: #d4d4d8;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      opacity: 0.7;
    }
    &-series {
      display: flex;
      column-gap: 40px;
      margin-block: 48px 87.99px;
      .serie {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 10px;
        text-align: center;
        img {
          display: block;
          flex-shrink: 0;
          aspect-ratio: 23/69.01;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          line-height: 120%; /* 21.6px */
          margin-bottom: 4px;
        }
        h6 {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          line-height: 120%; /* 15.6px */
        }
      }
    }
    &__btn {
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.32);
      background: linear-gradient(180deg, #fff 0%, #cdcdcf 100%);
      box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
      padding: 20px 32px;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%; /* 27px */
      text-decoration: none;
      display: inline-block;
      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.32);
        background: rgb(255, 255, 255);
      }
    }
  }
}

.heroes {
  width: fit-content;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  &__img {
    overflow: hidden;
    width: fit-content;
    margin-left: auto;
  }
  img {
    display: block;
  }
}
/*===== hero end =====*/

/*===== encounter start =====*/
#encounter {
  padding-top: 156px;
  position: relative;
  z-index: 1;
  .title {
    max-width: 897px;
    margin-inline: auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
    margin-bottom: 50px;
    span {
      display: inline-block;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &::after {
    content: " ";
    width: 100%;
    height: 153px;
    position: absolute;
    z-index: 2;
    background: radial-gradient(
      78.62% 97.81% at 47.4% 100%,
      rgba(8, 7, 13, 0) 71.62%,
      #08070d 95.45%
    );
    bottom: -10px;
    left: 0;
    transform: rotate(180deg);
  }
  .encounter {
    &__card {
      min-height: 550px;
      background: radial-gradient(
        62.98% 103.11% at 47.31% 116.85%,
        #969696 33.36%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(8, 7, 13, 0.1) 100%
      );
      padding-bottom: 126px;
      align-content: end;
      position: relative;
      z-index: 1;
      --after-opacity: 0;
      &::before {
        content: " ";
      }
      &::after {
        content: " ";
        position: absolute;
        opacity: var(--after-opacity);
        z-index: -1;
        inset: 0;
        width: 100%;
        background: radial-gradient(
          62.98% 103.11% at 47.31% 116.85%,
          #e6b8a8 20.37%,
          #be9fc6 33.36%,
          #1f47af 70.78%,
          #08070d 100%
        );
        // transform: rotate(180deg);
      }
      &.show {
        background: radial-gradient(
          62.98% 103.11% at 47.31% 116.85%,
          #e6b8a8 20.37%,
          #be9fc6 33.36%,
          #1f47af 70.78%,
          #08070d 100%
        );
      }
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 20px;
      }
      &-about {
        h3 {
          color: #fff;
          font-size: 32px;
          font-weight: 500;
          line-height: 115%; /* 36.8px */
          margin-bottom: 12px;
        }
        h4 {
          color: rgba(255, 255, 255, 0.5);
          font-size: 20px;
          font-weight: 500;
          line-height: 125%; /* 25px */
        }
        &.right {
          padding-left: 60px;
          opacity: 0;
        }
      }
    }
    &-img {
      svg {
        display: block;
      }
      img.strelka {
        display: block;
        margin-top: -20px;
        margin-inline: auto;
        transform: rotate(3deg);
      }
    }
  }
}
/*===== encounter end =====*/
/*===== results start =====*/
#results {
  padding-block: 150px 20px;
}
.results {
  &-wrapper {
    display: flex;
    column-gap: 48px;
    &__left {
      height: fit-content;
      flex: 1;
      h3 {
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        line-height: 115%; /* 36.8px */
        margin-bottom: 10px;
      }
      h4 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 500;
        line-height: 125%; /* 25px */
      }
    }

    &__right {
      flex: 1;
      .card {
        position: relative;
        z-index: 1;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.05);
        padding: 40px;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        h4.title {
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          line-height: 125%; /* 30px */
        }
        &-learning {
          img.ellipsis {
            display: block;
            position: absolute;
            top: calc(100% - 100px);
            left: 50%;
            transform: translateX(-50%);
          }

          .counter {
            margin-top: 46px;
            display: block;
            width: fit-content;
            margin-inline: auto;
            img {
              margin-inline: auto;
              display: block;
              margin-bottom: 20px;
            }
            #count {
              border-radius: 50px;
              background: radial-gradient(
                246.34% 251.66% at 55.82% -84.41%,
                #e6b8a8 20.37%,
                #be9fc6 33.36%,
                #1f47af 70.78%
              );
              align-content: center;
              min-width: 75.195px;
              text-align: center;
              height: 60.796px;
              overflow: hidden;
              padding-inline: 10px;
              display: inline-block;
              color: #fff;
              font-family: $manrope;
              font-size: 43.375px;
              font-weight: 500;
              line-height: 130%; /* 56.387px */
              letter-spacing: -0.434px;
            }
          }
        }
        &-partners {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .main-partner {
            display: block;
            width: fit-content;
            margin-inline: auto;
            text-align: center;
            img {
              display: block;
              margin-bottom: 13px;
              margin-inline: auto;
              border-radius: 50%;
            }
            h5 {
              color: #fff;
              font-size: 20.515px;
              font-weight: 500;
              line-height: 120%; /* 24.618px */
              letter-spacing: 0.57px;
              &:last-child {
                opacity: 0.5;
                margin-top: 3.42px;
              }
            }
          }
          .partners {
            position: absolute;
            inset: 0;
            z-index: -1;
          }
          &__count {
            position: absolute;
            right: 30px;
            bottom: 30px;
            border-radius: 12.195px;
            background: rgba(255, 255, 255, 0.15);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 110%; /* 19.8px */
            letter-spacing: -0.305px;
            padding: 15px 9px 14px 10px;
          }
        }
        &-overcome {
          img {
            position: absolute;
            bottom: 0;
            right: 30px;
          }
        }
      }
    }
  }
}
.partners {
  .partner-img {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    border-radius: 50%;

    transition: ease-out filter 0.3s;
    img {
      display: block;
      aspect-ratio: 1/1;
    }
    &:first-child {
      opacity: 0.3;
      filter: blur(1.3241904973983765px);
      top: 50%;
      transform: translateY(-50%) rotate(8deg);
      left: 90px;
      img {
        transform: scale(1.15);
      }
    }
    &:nth-child(2) {
      transform: rotate(-2deg);
      top: 100px;
      right: 50px;
      opacity: 0.5;
      filter: blur(1.3241904973983765px);
      img {
        transform: scale(1.05);
      }
    }
    &:nth-child(3) {
      transform: rotate(-16deg);
      left: 90px;
      bottom: 40.85px;
      filter: blur(0.9729012846946716px);
      img {
        transform: scale(1.25);
      }
    }
    &:last-child {
      right: 104px;
      bottom: 93px;
      filter: blur(1.8313682079315186px);
      transform: rotate(-4deg);
      img {
        transform: scale(1.2);
      }
    }
    &:hover {
      filter: blur(0px);
    }
  }
}
/*===== results end =====*/

/*===== stat start ===== */
#stat {
  padding-block: 68px 50px;
  background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 34.83%);
  position: relative;
  z-index: 2;
}
.stat {
  &-btn {
    border-radius: 38.681px;
    background: radial-gradient(
      302.55% 255.89% at 37.2% 247.19%,
      #e6b8a8 20.37%,
      #be9fc6 52.91%,
      #1f47af 100%
    );
    color: #fff;
    text-align: center;
    width: fit-content;
    min-width: 310.463px;
    min-height: 69.987px;
    padding-inline: 15px;
    font-size: 16.893px;
    font-weight: 500;
    line-height: 100%; /* 16.893px */
    letter-spacing: 0.603px;
    display: block;
    align-content: center;
    text-decoration: none;
    margin-left: auto;
  }
  &-wrapper {
    .stat-logo {
      display: block;
      flex-shrink: 0;
    }
    margin-top: 112px;
    background-image: url("../svg/lines.svg");
    background-repeat: no-repeat;
    background-size: 2307.59px 468.232px;
    background-position: center;
    min-height: 468.232px;
    align-content: center;
    .container {
      display: flex;
      align-items: center;
      column-gap: 243px;
    }

    .flex {
      width: 100%;
      display: flex;
      &:first-child {
        justify-content: flex-end;
        column-gap: 100px;
        transform: translateY(-50px);
        .stat-wrapper__users-item {
          &:first-child {
            transform: translateY(30px);
          }
        }
      }
      &:last-child {
        transform: translateY(80px);
        justify-content: space-between;
        .stat-wrapper__users-item {
          &:last-child {
            transform: translateY(50px);
            margin-right: 100px;
          }
        }
      }
    }
    .stat-wrapper__users {
      width: 100%;
      &-item {
        max-width: 270.618px;
        img {
          display: block;
          margin-bottom: 15px;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 120%; /* 21.6px */
          letter-spacing: 0.72px;
          span {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
/*===== stat end ===== */

/*===== relevant start =====*/
#relevant {
  padding-block: 150px;
}
.relevant {
  &-wrapper {
    h3.title {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      line-height: 115%; /* 36.8px */
      margin-bottom: 10px;
    }
    h4.subtitle {
      color: rgba(255, 255, 255, 0.5);
      font-size: 20px;
      font-weight: 500;
      line-height: 125%; /* 25px */
    }
  }
}

.relevant {
  &-splide {
    margin-block: 75px 60px;
    .splide__track {
      overflow: hidden;
      border-radius: 50px;
    }
    .splide__pagination {
      display: none;
    }
    .splide__arrow {
      background-color: transparent;
      width: 44px;
      height: 44px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .splide__arrow--next {
      background-image: url("../svg/next.svg");
      right: -64px;
    }
    .splide__arrow--prev {
      background-image: url("../svg/prev.svg");
      left: -64px;
    }
    .splide__arrow svg {
      display: none;
    }
  }
  &__card {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
    padding: 24px;
    min-height: 575px;
    color: #fff;
    position: relative;
    overflow: hidden;
    &.bg {
      background-image: url("../images/type4.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50px;
    }
    h4.title {
      font-size: 24px;
      font-weight: 500;
      line-height: 125%; /* 30px */
      margin-bottom: 20px;
    }
    h5.subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: 0.5px;
    }
    &-images {
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 0;
      img {
        display: block;
      }
      &.type-one {
        img {
          &:first-child {
            margin-left: auto;
            margin-bottom: 23px;
          }
          &:last-child {
            margin-right: auto;
          }
        }
      }
      &.type-two {
        padding-inline: 24px;
        img:last-child {
          margin-left: 87px;
          margin-top: 23px;
        }
      }
      &.type-three {
        width: 100%;
        padding-inline: 24px;
        display: flex;
        column-gap: 20px;
        img {
          &:first-child {
            margin-top: -160px;
          }
          &:nth-child(2) {
            margin-top: -80px;
          }
        }
      }
      &.type-four {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        img {
          &:first-child {
            margin-top: 100px;
            margin-right: -30px;
          }
        }
      }
    }
    &-about {
      transition: ease-out all 0.3s;
      opacity: 0;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      padding: 24px;
      background: rgb(25 24 29);
      z-index: -1;
      color: #fff;
      overflow-y: auto;
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 125%; /* 30px */
        margin-bottom: 20px;
      }
      h6 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: 0.5px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        span {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    &:hover {
      .relevant__card-about {
        opacity: 1;
        z-index: 2;
      }
    }
  }
  &-btn {
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.32);
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
    padding: 20px 32px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
    display: block;
    width: fit-content;
    margin-inline: auto;
    text-decoration: none;
  }
}

/*===== relevant end =====*/
/*===== Visionary start =====*/
#visionary {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  border-radius: 40px 40px 90px 90px;
  padding-top: 100px;
  background-image: url("../svg/visionary-bg.svg"),
    radial-gradient(
      127.4% 127.4% at 47.31% -25.31%,
      #e6b8a8 20.37%,
      #be9fc6 33.36%,
      #1f47af 70.78%,
      #08070d 100%
    );

  background-position: top center, top center;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 296.859px;
    z-index: 4;
    background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 100%);
  }
  .title-block {
    text-align: center;
    position: relative;
    z-index: 4;
    h5 {
      color: #fff;
      font-size: 20.921px;
      font-weight: 400;
      line-height: 20.921px; /* 100% */
      letter-spacing: -0.314px;
      margin-bottom: 25px;
    }
    h1 {
      color: #fff;
      font-size: 64px;
      font-weight: 500;
      line-height: 100%; /* 64px */
      letter-spacing: -2.092px;
      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .visionary-main-img {
    margin-top: -250px;
    margin-inline: auto;
    display: block;
    position: relative;
    z-index: 3;
  }
  .visionary-cards {
    position: absolute;
    top: 10%;
    padding-inline: 40px;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: minmax(170px, auto) minmax(170px, auto);
    justify-content: space-between;
    align-items: anchor-center;
    .card {
      opacity: 0.7;
      border-radius: 22px;
      background: rgba(255, 255, 255, 0.12);
      width: 100%;
      max-width: 280px;
      min-height: 170px;
      padding: 19px 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      &:nth-child(odd) {
        transform: rotate(10deg) skewX(10deg);
      }
      &:nth-child(even) {
        transform: rotate(-10deg) skewX(-10deg);
      }
      img {
        display: block;
      }
      h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
      }
    }
  }
}
.visionary-mob {
  display: none;
}

/*===== Visionary end =====*/
/*===== practice start =====*/

.practice {
  padding-block: 100px 160px;
  h2.title {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
  }
  &-splide {
    margin-block: 75px 160px;
    .splide__arrow,
    .splide__pagination {
      display: none;
    }
  }
  &-card {
    width: 100%;
    &__img {
      display: block;
      border-radius: 24px;
      border: 1.5px solid rgba(255, 255, 255, 0.15);
      margin-bottom: 16px;
      position: relative;
      overflow: hidden;
      img {
        aspect-ratio: 16/9;
        display: block;
        height: auto;
      }
      .lock {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
        flex-direction: column;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
        img {
          display: block;
          width: 64px;
          height: 64px;
        }
        .badge {
          color: #fff;
          font-family: $inter;
          font-size: 20px;
          font-weight: 600;
          line-height: 120%; /* 24px */
          letter-spacing: 0.5px;
          padding: 12px;
          border-radius: 90px;
          background: #2d2c31;
        }
      }
      img {
        display: block;
        width: 100%;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
      h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        letter-spacing: 0.5px;

        display: -webkit-box;
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(:first-child) {
          margin-top: 12px;
        }
        span {
          opacity: 0.5;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.15);
        flex-shrink: 0;
        cursor: pointer;
        img {
          display: block;
          &.play-icon {
            transform: translateX(1px);
          }
        }
      }
    }
  }
  &-wrapper {
    h2.title {
      text-align: start;
      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    &__cards {
      margin-top: 68px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      .practice-card {
        &__img {
          border-radius: 37.176px;
        }
        max-width: calc(50% - 12px);
        &__bottom {
          align-items: flex-start;
          button {
            width: 55px;
            height: 55px;
          }
        }
      }
    }
  }
}
/*===== practice end =====*/
/*===== community start =====*/
.community {
  h2.title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 120%; /* 48px */
    max-width: 1040px;
    margin-inline: auto;
    position: relative;
    z-index: 1;
    span {
      background: linear-gradient(
        198deg,
        #e6b8a8 41.41%,
        #be9fc6 51.71%,
        #1f47af 67.95%,
        #08070d 196.36%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-fill-color: transparent;
    }
    &::before {
      content: attr(txt);
      position: absolute;
      inset: 0;
      z-index: -1;
      transform: translatex(1px);
    }
  }
  &-splide {
    margin-block: 75px;
    .splide__arrow,
    .splide__pagination {
      display: none;
    }
    .splide__track {
      border-radius: 32px;
    }
    .splide__slide {
      border-radius: 32px;
      overflow: hidden;
      transition: ease-out all 0.3s;
      img {
        width: 100%;
        height: 500px;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
/*===== community end =====*/
/*===== world start =====*/
.world {
  padding-top: 150px;
  h2.title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
    position: relative;
    z-index: 1;
    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &-wrapper {
    position: relative;
    .world-img {
      display: block;
      width: 100%;
      height: auto;
      margin-top: -100px;
      &--mob {
        display: none;
      }
    }
    &__card {
      text-align: center;
      display: inline-block;
      position: absolute;
      z-index: 1;
      img {
        display: block;
        border-radius: 27.056px;
        border: 4px solid #fff;
        margin-bottom: 15px;
        margin-inline: auto;
      }
      h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; /* 27px */
        &:last-child {
          line-height: 120%;
          opacity: 0.5;
        }
      }
      &.europa {
        left: 7%;
        top: 46%;
      }
      &.russia-center {
        top: 38%;
        left: 25.5%;
      }
      &.dubay {
        left: 29.5%;
        bottom: 67px;
      }
      &.kazaxstan {
        left: 47%;
        bottom: 29%;
      }
      &.russia {
        right: 29%;
        top: 34%;
      }
      &.china {
        right: 21.5%;
        bottom: 22%;
      }
      &.indoneziya {
        right: 6.5%;
        bottom: 11%;
      }
    }
  }
}
/*===== world end =====*/

/* ===== environment start =====*/
.environment {
  padding-bottom: 285px;
  background: radial-gradient(
    62.98% 103.11% at 47.31% 116.85%,
    #e6b8a8 20.37%,
    #be9fc6 33.36%,
    #1f47af 70.78%,
    #08070d 100%
  );
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    z-index: -1;
    content: " ";
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 2474px;
    height: 1398px;
    background: radial-gradient(
      78.62% 97.81% at 47.4% 100%,
      rgba(8, 7, 13, 0) 71.62%,
      #08070d 95.45%
    );
  }
  h2.title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
  }
  .relevant-btn {
    margin-block: 64px 86px;
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 25px;
    .card {
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.05);
      width: 100%;
      max-width: calc(100% / 4 - 75px / 4);
      padding: 40px 12px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: flex-end;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      h4 {
        color: #f7f9fa;
        text-align: center;
        font-feature-settings: "liga" off, "clig" off;
        font-size: 20px;
        font-weight: 500;
        line-height: 135%; /* 27px */
      }
    }
  }
}
/* ===== environment end =====*/
/* ===== blog start =====*/
.blog {
  padding-block: 75px;
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 500;
      line-height: 130%; /* 52px */
      display: flex;
      align-items: flex-start;
      column-gap: 8px;
      span {
        font-size: 24px;
        line-height: 28px; /* 116.667% */
        opacity: 0.5;
      }
    }
    a {
      border-radius: 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 12px 20px;
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      text-decoration: none;
      img {
        display: block;
        flex-shrink: 0;
      }
    }
  }
  &-splide {
    margin-top: 50px;
    .splide__arrow,
    .splide__pagination {
      display: none;
    }
  }
  &-card {
    &__img {
      border-radius: 24px;
      border: 1.5px solid rgba(255, 255, 255, 0.15);
      background-image: url("../images/blog/bg.svg");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      height: 263.194px;
      align-content: center;
      img {
        display: block;
        margin-inline: auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__about {
      display: flex;
      flex-direction: column;
      row-gap: 9px;
      margin-top: 17px;
      .flex {
        display: flex;
        align-items: center;
        column-gap: 17px;
      }
    }
    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%; /* 23.4px */
      letter-spacing: 0.5px;
      opacity: 0.5;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      align-self: stretch;
      &.popular {
        opacity: 1;
        display: flex;
        align-items: center;
        column-gap: 3px;
      }
    }
    h3 {
      overflow: hidden;
      color: #fff;
      text-overflow: ellipsis;
      font-size: 24px;
      font-weight: 500;
      line-height: 125%; /* 30px */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      align-self: stretch;
    }
  }
}
/* ===== blog end =====*/
/* ===== questions start =====*/
.questions {
  padding-block: 100px;
  h2.title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; /* 52px */
  }

  &-accordions {
    max-width: 800px;
    margin-inline: auto;
    margin-block: 75px;
    details {
      border-bottom: 1px solid rgba(129, 129, 129, 0.3);
      &:open {
        summary img {
          transform: rotate(180deg);
        }
      }
      summary {
        cursor: pointer;
        user-select: none;
        padding-block: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 26px;
        column-gap: 20px;
        font-weight: 500;
        line-height: 115%; /* 29.9px */
        letter-spacing: -0.78px;
      }
      .accordion-body {
        padding-bottom: 32px;
        p {
          opacity: 0.5;
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 130%; /* 23.4px */
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-decoration: none;
  padding: 20px 32px;
  width: fit-content;
  margin-inline: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  img {
    display: block;
  }
}
/* ===== questions end =====*/

// Blog page styles
.h90 {
  width: 100%;
  height: 90px;
}
.breadcrumb {
  padding-block: 46px 39px;
  .go-back {
    opacity: 0.4;
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    text-decoration: none;
    img {
      display: block;
    }
  }
}

.blog-filters {
  margin-top: 16px;
  display: flex;
  column-gap: 8px;
}

.dropdown {
  position: relative;
  cursor: pointer;
  &-head {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 17px;
    font-weight: 500;
    line-height: 24px; /* 141.176% */

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    img {
      display: block;
    }
  }
  &-menu {
    width: 100%;
    min-width: 132px;
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 12px;
    display: none;
    ul {
      width: 100%;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(5px);
      padding-block: 20px;
      list-style: none;
      li {
        color: rgba(255, 255, 255, 0.85);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        padding-inline: 20px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.blog-big-cards {
  display: grid;
  grid-template-columns: 1fr 398px;
  column-gap: 23px;
  margin-top: 32px;
  .blog-card {
    &__img {
      height: 546px;
    }
  }
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  margin-block: 64px;
  gap: 64px 23px;
  .blog-card {
    max-width: calc(100% / 3 - 23px * 2 / 3);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  list-style: none;
  margin-block: 38px;
  li {
    color: #f7f9fa;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 20px;
    font-weight: 500;
    line-height: 135%; /* 27px */
    img {
      display: block;
    }
  }
}

/* ===== footer start =====*/
footer {
  padding-block: 84px 74px;
  border-top: 1px solid #494953;
}
.footer {
  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-series {
      display: flex;
      align-items: flex-start;
      width: fit-content;
      column-gap: 100px;
      li {
        list-style: none;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%; /* 23.4px */
        letter-spacing: 0.5px;
        &:not(:first-child) {
          margin-top: 16px;
          opacity: 0.5;
        }
        &:first-child {
          color: #f7f9fa;
          font-feature-settings: "liga" off, "clig" off;
          font-size: 20px;
          font-weight: 500;
          line-height: 135%; /* 27px */
          a {
            color: #f7f9fa;
            font-feature-settings: "liga" off, "clig" off;
            font-size: 20px;
            font-weight: 500;
            line-height: 135%; /* 27px */
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }
        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 130%; /* 23.4px */
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
/* ===== footer end =====*/
@media (max-width: 1290px) {
  .community-splide .splide__track {
    overflow: visible;
  }
  .encounter-img {
    width: 100%;
    max-width: 450px;
    svg {
      width: 100%;
      height: auto;
    }
  }
  #encounter .encounter__card-about.right {
    padding-left: 0;
  }
  #encounter .encounter-img img.strelka {
    width: 70%;
  }
  .partners .partner-img {
    aspect-ratio: 1/1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .partners .partner-img:first-child {
    width: 70px;
    left: 66px;
  }
  .partners .partner-img:nth-child(2) {
    width: 85px;
    top: 120px;
    right: 40px;
  }
  .partners .partner-img:last-child {
    right: 64px;
    bottom: 93px;
  }
  .partners .partner-img:nth-child(3) {
    left: 40px;
    bottom: 40.85px;
  }
  .stat-wrapper .container {
    column-gap: 145px;
  }
  #visionary {
    max-width: 90%;
    padding-top: 50px;
  }
  #visionary .visionary-main-img {
    margin-top: 0;
    height: 898px;
    object-fit: contain;
    object-position: center -150px;
    margin-bottom: -140px;
  }
  #visionary .title-block h1 {
    font-size: 44px;
  }
  #visionary .title-block h5 {
    margin-bottom: 15px;
  }
  #visionary .visionary-cards {
    height: 80%;
    .card {
      max-width: 220px;
    }
  }
  .relevant-splide .splide__track {
    overflow: visible;
  }
  .community-splide .splide__slide img {
    height: 650px;
  }
  .environment-cards {
    row-gap: 25px;
    justify-content: center;
    .card {
      max-width: calc(100% / 3 - 50px / 3);
    }
  }
}
@media (max-width: 1245px) {
  #visionary::before {
    height: 615px;
  }
  #visionary .visionary-main-img {
    height: 1030px;
  }
  #visionary .visionary-cards {
    top: 5%;
    height: 70%;
  }
  #visionary .visionary-main-img {
    object-position: center -62px;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .blog-splide {
    .splide__track {
      overflow: visible;
    }
  }
  .container {
    max-width: 890px;
  }
  .heroes img {
    width: 100%;
    height: auto;
    max-width: 450px;
  }
  .partners .partner-img:nth-child(3) {
    left: 30px;
    bottom: 30px;
    width: 50px;
  }
  .results-wrapper__right .card h4.title {
    br {
      display: none;
    }
  }
  .results-wrapper__right .card-partners .main-partner img {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .partners .partner-img:nth-child(2) {
    top: 130px;
    right: 40px;
    width: 75px;
  }
  .partners .partner-img:last-child {
    right: 24px;
    bottom: 83px;
    width: 60px;
  }
  .partners .partner-img:first-child {
    left: 35px;
  }
  .stat-wrapper .flex:last-child .stat-wrapper__users-item:last-child {
    margin-right: 20px;
  }
  .stat-wrapper .flex:first-child {
    column-gap: 20px;
  }
}

@media (max-width: 940px) {
  .container {
    max-width: 720px;
  }
  .header-wrapper .navlink {
    display: none;
  }
  #encounter .encounter__card-about h3 {
    font-size: 24px;
  }
  #encounter .encounter__card-about h4 {
    font-size: 16px;
    br {
      display: none;
    }
  }
  .results-wrapper__right .card-learning .counter {
    margin-top: 20px;
  }
  .results-wrapper__right .card-partners__count {
    font-size: 16px;
    padding: 10px;
    line-height: 100%;
    right: 20px;
    bottom: 50px;
  }

  .results-wrapper__right .card {
    padding: 25px;
    border-radius: 20px;
    min-height: 350px;
  }
  .partners .partner-img:nth-child(2) {
    width: 55px;
  }
  #encounter .encounter__card {
    min-height: 370px;
    padding-bottom: 55px;
  }
  #encounter .title,
  .practice h2.title,
  .questions h2.title,
  .world h2.title,
  .environment h2.title,
  .community h2.title {
    font-size: 35px;
  }
  .results-wrapper__right .card-learning img.ellipsis {
    width: 1100px;
    aspect-ratio: 1/1;
    height: auto;
    top: calc(100% - 80px);
  }
  .results-wrapper__right .card-overcome img {
    width: 100%;
    max-width: 270px;
    height: auto;
  }
  .stat-wrapper .stat-logo {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .stat-wrapper .container {
    column-gap: 80px;
  }
  .stat-wrapper {
    background-size: 100% 360px;
  }
  .stat-wrapper .flex:first-child {
    transform: translateY(-20px);
  }
  .stat-wrapper .flex:last-child {
    transform: translateY(30px);
  }
  .stat-wrapper .stat-wrapper__users-item {
    max-width: 230px;
  }
  #visionary {
    max-width: 720px;
  }
  .practice-card__img .lock img {
    width: 40px;
    height: 40px;
  }
  .practice-card__img .lock .badge {
    font-size: 16px;
    line-height: 100%;
  }
  #visionary .visionary-cards .card {
    min-height: 115px;
    max-width: 160px;
    row-gap: 15px;
    h5 {
      font-size: 12px;
    }
  }
  #visionary .visionary-main-img {
    height: 870px;
  }
  #visionary .visionary-cards {
    top: 10%;
  }
  .practice-wrapper__cards .practice-card__bottom button {
    width: 35px;
    height: 35px;
    padding: 7px;
  }
  .practice-wrapper__cards .practice-card__bottom button img {
    width: 100%;
    height: 100%;
    &.play-icon {
      width: 90%;
      height: 90%;
    }
  }
  .practice-wrapper__cards .practice-card__bottom button img.play-icon {
    transform: translate(2px, 1px);
  }
  .community-splide .splide__slide img {
    height: 500px;
  }
  .world-wrapper .world-img {
    margin-top: 0;
  }
  .environment {
    padding-top: 100px;
  }
  .environment-cards .card {
    max-width: calc(100% / 2 - 25px / 2);
  }
  .footer-wrapper-series {
    column-gap: 40px;
  }
  .footer-wrapper {
    column-gap: 40px;
  }
  .practice-wrapper__cards .practice-card__img {
    margin-bottom: 10px;
  }
  .practice-card__bottom h5:not(:first-child) {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    max-width: 100%;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(8, 7, 13, 0) 0%,
      rgba(8, 7, 13, 0.5) 9.89%,
      #08070d 34.05%
    );
    padding-top: 300px;
    margin-top: 300px;
    padding-inline: 25px;
  }
  #hero .container {
    align-content: end;
    height: auto;
    &:not(.heroes .container) {
      max-width: 100%;
      padding-inline: 0;
    }
  }
  .container {
    max-width: 100%;
    padding-inline: 25px;
  }
  .heroes {
    height: auto;
    background: radial-gradient(
      62.98% 103.11% at 47.31% 116.85%,
      #e6b8a8 20.37%,
      #be9fc6 33.36%,
      #1f47af 70.78%,
      #08070d 100%
    );
    right: 0;
    img {
      max-width: 100%;
    }
  }
  #hero {
    background: none;
    overflow: hidden;
  }
  .results-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
  .results-wrapper__left {
    max-height: auto;
  }
  .partners .partner-img:nth-child(2) {
    width: 65px;
    top: 100px;
    right: 100px;
  }
  .partners .partner-img:last-child {
    right: 164px;
    bottom: 63px;
    width: 50px;
  }
  .partners .partner-img:first-child {
    left: 135px;
  }
  .partners .partner-img:nth-child(3) {
    width: 40px;
  }
  .relevant-splide .splide__arrow {
    display: none;
  }
  .footer-wrapper-series {
    column-gap: 30px;
  }
  .footer-wrapper {
    column-gap: 60px;
  }
  #encounter .encounter__card {
    padding-block: 40px;
    max-width: calc(100% - 40px);
    margin-inline: auto;
    border-radius: 50px;
    background: radial-gradient(
        81.01% 172.23% at 47.31% 116.85%,
        #969696 33.36%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(8, 7, 13, 0.1) 100%
      ),
      radial-gradient(
        138.55% 138.56% at 47.31% 122.78%,
        rgba(240, 240, 240, 0.1) 0%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(0, 0, 0, 0.5) 100%
      );
  }
  #encounter::after {
    display: none;
  }
  #encounter .encounter__card::after {
    border-radius: 50px;
    background: radial-gradient(
        228.96% 374.88% at 49.86% 229.25%,
        #08070d 0%,
        #1f47af 35.24%,
        #be9fc6 66.64%,
        #e6b8a8 79.63%
      ),
      radial-gradient(
        138.55% 138.56% at 47.31% 122.78%,
        rgba(240, 240, 240, 0.1) 0%,
        rgba(150, 150, 150, 0.35) 70.78%,
        rgba(0, 0, 0, 0.5) 100%
      );
  }

  .encounter-img {
    max-width: 100%;
  }
  #encounter .encounter__card .container {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 40px;
    text-align: center;
    row-gap: 40px;
  }
  #encounter .encounter__card-about.right {
    position: absolute;
    padding-inline: 40px;
    top: 40px;
    left: 0;
  }
  #encounter .encounter__card-about h3 {
    br {
      display: none;
    }
  }
  #visionary {
    max-width: calc(100% - 50px);
    margin-inline: auto;
  }
  #visionary .visionary-cards {
    display: none;
  }
  #visionary .visionary-main-img {
    height: 800px;
  }
  .visionary-mob {
    display: block;
    padding-inline: 25px;
    margin-top: 4px;
    width: 100%;
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4px;
      div {
        border-radius: 24px;
        background-color: #151419;
        min-height: 162px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding: 16px;
        img {
          display: block;
        }
        h5 {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 120%;
        }
      }
    }
  }
  .world-wrapper {
    height: 790px;
    overflow: hidden;
  }
  .world-wrapper .world-img {
    display: none;
    &--mob {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: 0 -730px;
    }
  }
  .footer-wrapper {
    flex-direction: column;
    row-gap: 43px;
  }
  .footer-wrapper-series {
    flex-direction: column;
    row-gap: 40px;
  }
  #visionary::before {
    height: 405px;
  }
  .practice-splide .splide__track {
    overflow: visible;
  }
}
@media (max-width: 700px) {
  #visionary {
    background: radial-gradient(
      127.4% 127.4% at 47.31% -25.31%,
      #e6b8a8 20.37%,
      #be9fc6 33.36%,
      #1f47af 70.78%,
      #08070d 100%
    );
    border-radius: 50px;
  }
  #visionary::before {
    display: none;
  }
  .world-wrapper .world-img--mob {
    object-position: 0 -610px;
  }
  #visionary .visionary-main-img {
    height: 100%;
    object-position: bottom;
    margin-top: -130px;
  }
}
@media (max-width: 656px) {
  .world-wrapper {
    height: 660px;
  }
  .hero-wrapper h1.title {
    font-size: 35px;
  }
  .stat-wrapper .container {
    flex-direction: column;
    row-gap: 77px;
  }
  .hero-wrapper-series {
    column-gap: 25px;
  }
  .hero-wrapper__btn,
  .stat-btn {
    line-height: 100%;
  }
  #stat {
    display: flex;
    flex-direction: column-reverse;
  }
  .stat-wrapper {
    margin-top: 0;
    background-image: url("../svg/lines-mob.svg");
    background-size: auto 100%;
    align-content: start;
  }
  .stat-btn {
    width: 100%;
  }
  .stat-wrapper .flex {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .stat-wrapper .stat-wrapper__users-item {
    max-width: 300px;
    text-align: center;
  }
  .stat-wrapper .flex:last-child .stat-wrapper__users-item:last-child,
  .stat-wrapper .flex:last-child,
  .stat-wrapper .flex:first-child,
  .stat-wrapper .flex:first-child .stat-wrapper__users-item:first-child {
    transform: translate(0);
  }
  .stat-wrapper .stat-wrapper__users-item img {
    margin-inline: auto;
  }
  .stat-wrapper .flex:last-child .stat-wrapper__users-item:last-child {
    margin: 0;
  }
  .stat-wrapper .flex {
    row-gap: 16px;
  }
  .stat-wrapper .flex:last-child {
    margin-top: 16px;
  }
  .stat-wrapper .stat-wrapper__users {
    margin-bottom: 35px;
  }
  .stat-wrapper .flex .stat-wrapper__users-item:first-child {
    transform: translateX(-10px);
  }
  .stat-wrapper .flex:first-child .stat-wrapper__users-item {
    &:first-child {
      margin-left: -50px;
    }
    &:last-child {
      margin-right: -170px;
    }
  }
  .stat-wrapper .flex:last-child {
    .stat-wrapper__users-item {
      &:last-child {
        display: none;
      }
    }
  }
  .stat-wrapper .flex:last-child .stat-wrapper__users-item:first-child {
    margin-left: -150px;
  }
  .stat-wrapper .stat-logo {
    width: 110px;
  }
  .stat-wrapper .stat-wrapper__users-item h5 {
    font-size: 16px;
  }
  .stat-wrapper .stat-wrapper__users-item img {
    margin-bottom: 10px;
    width: 60px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .visionary-mob__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4px;
  }
  .visionary-mob__cards div {
    justify-content: space-between;
    &:last-child {
      grid-column: span 2 / span 2;
    }
  }
}

@media (max-width: 625px) {
  .environment-cards {
    gap: 16px;
  }
  .environment {
    padding-bottom: 150px;
  }
  .environment-cards .card h4 {
    font-size: 14px;
  }
  .hero-wrapper-series {
    flex-direction: column;
    row-gap: 9px;
    order: 4;
  }
  .world-wrapper .world-img--mob {
    object-position: 0 -520px;
  }
  .hero-wrapper {
    margin-top: 150px;
    padding-top: 350px;
    display: flex;
    flex-direction: column;
  }
  .hero-wrapper h1.title {
    order: 1;
  }
  .hero-wrapper h5.subtitle {
    order: 2;
  }
  .hero-wrapper__btn {
    order: 3;
    margin-block: 32px 74px;
  }
  .partners .partner-img:first-child {
    left: 100px;
  }
  .hero-wrapper-series .serie h5 {
    margin-bottom: 0;
    font-size: 16px;
  }
  .hero-wrapper-series .serie h6 {
    font-size: 16px;
  }
  .hero-wrapper-series {
    margin-block: 0;
  }
  .hero-wrapper-series .serie {
    width: 100%;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
    &:last-child {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:first-child {
      order: 3;
    }
    &:not(:first-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 9px;
    }
  }
  .partners .partner-img:last-child {
    right: 64px;
  }
  .results-wrapper__right .card-partners__count {
    bottom: 20px;
  }
  .partners .partner-img:nth-child(3) {
    left: 60px;
    bottom: 60px;
  }
  .practice-wrapper__cards .practice-card {
    max-width: 100%;
  }
  .practice-card__img .lock img {
    width: 60px;
    height: 60px;
  }
  .practice-wrapper__cards .practice-card__bottom button {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 555px) {
  .partners .partner-img:first-child {
    left: 60px;
  }
  .partners .partner-img:nth-child(3) {
    left: 40px;
    bottom: 30px;
  }
  #visionary .title-block h1 {
    font-size: 26px;
  }
  #visionary {
    padding-top: 32px;
  }
  #visionary .title-block h5 {
    font-size: 14px;
  }
  #visionary .visionary-main-img {
    margin-top: -70px;
  }
  .world-wrapper .world-img--mob {
    object-position: 0 -450px;
  }
}

@media (max-width: 500px) {
  .hero-wrapper h1.title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  #encounter .title,
  .practice h2.title,
  .questions h2.title,
  .world h2.title,
  .environment h2.title,
  .community h2.title,
  .results-wrapper__left h3,
  .blog-head h2 {
    font-size: 26px;
    text-align: start;
  }
  #encounter .encounter__card-about.right {
    padding-inline: 32px;
  }
  #encounter .encounter__card {
    padding-block: 32px;
  }
  .results-wrapper__right .card h4.title {
    font-size: 18px;
  }
  .results-wrapper__right .card-learning .counter img {
    width: 22px;
    height: auto;
    margin-bottom: 15px;
  }
  .results-wrapper__right .card-learning .counter #count {
    border-radius: 12.597px;
    background: #3252b1;
  }
  .results-wrapper__right .card {
    min-height: 250px;
  }
  .results-wrapper__right .card-learning .counter {
    margin-top: 6px;
  }
  .results-wrapper__right .card-learning img.ellipsis {
    width: 1188.206px;
    height: 1188.2px;
    top: calc(100% - 60px);
  }
  .results-wrapper__right .card-partners .main-partner img {
    width: 55.421px;
    margin-bottom: 6px;
  }
  .results-wrapper__right .card-partners .main-partner h5 {
    font-size: 13.513px;
  }
  .results-wrapper__right .card-partners .main-partner h5:last-child {
    margin-top: 2px;
  }
  .partners .partner-img:nth-child(3) {
    left: 15px;
    bottom: 18px;
    width: 38px;
  }
  .partners .partner-img:first-child {
    width: 52px;
  }
  .partners .partner-img:nth-child(2) {
    width: 54px;
    right: 34px;
  }
  .partners .partner-img:last-child {
    width: 38.378px;
    right: 94px;
    bottom: 43px;
  }
  .results-wrapper__right .card-overcome img {
    max-width: 160.377px;
  }
  .relevant-wrapper h3.title {
    font-size: 26px;
  }
  .relevant-wrapper h4.subtitle {
    font-size: 16px;
  }
  .relevant__card {
    border-radius: 20px;
  }
  .relevant__card h4.title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .relevant__card-about h4 {
    font-size: 18px;
    br {
      display: none;
    }
  }
  .relevant__card h5.subtitle {
    font-size: 16px;
  }
  #visionary {
    min-height: 505px;
  }
  .practice h2.title:not(.practice-wrapper > *) {
    max-width: 215px;
  }
  .practice-splide {
    margin-block: 40px 80px;
  }
  .practice-card__img .lock img {
    width: 38.61px;
    height: 38.61px;
  }
  .practice-card__img .lock .badge {
    font-size: 12px;
    padding: 7px;
  }
  .practice-card__bottom h5 {
    font-size: 15px;
  }
  .practice-card__bottom h5:not(:first-child) {
    margin-top: 2px;
  }
  .environment::before {
    height: 100%;
  }
  .world-wrapper {
    height: 520px;
  }
  .blog-head a {
    font-size: 16px;
    padding: 8px 16px;
  }
  .blog-head h2 {
    align-items: center;
  }
  .blog-card h5 {
    font-size: 16px;
  }
  .blog-splide {
    margin-top: 20px;
  }
  .questions h2.title {
    max-width: 230px;
  }
  .questions-accordions details summary {
    font-size: 16px;
  }
  .questions-accordions details summary {
    font-size: 16px;
  }
  .questions-accordions {
    margin-block: 20px 44px;
  }
  .questions {
    padding-block: 105px 35px;
  }
  .blog {
    padding-block: 0;
    margin-top: 1px;
  }
  footer {
    padding-block: 42px;
  }
  .environment-cards .card {
    padding: 15px 9px;
  }
  .world-wrapper .world-img--mob {
    object-position: bottom;
    height: 500px;
  }
  .world-wrapper {
    height: 100%;
  }
  #encounter {
    padding-top: 80px;
  }
  #results {
    padding-block: 80px 0;
  }
  .results-wrapper {
    row-gap: 40px;
  }
  #stat {
    padding-block: 40px 0;
  }
  #relevant {
    padding-block: 80px;
  }
  .relevant-splide {
    margin-block: 40px;
  }
  #visionary .title-block h1 {
    letter-spacing: normal;
  }
  .practice-card__img {
    margin-bottom: 12px;
  }
  .practice-wrapper__cards {
    margin-top: 50px;
  }
  .practice {
    padding-block: 80px;
  }
  .community-splide {
    margin-block: 40px;
  }
  .world {
    padding-top: 80px;
  }
  .environment-cards .card {
    border-radius: 16px;
  }
  header {
    padding-block: 16px;
  }
  .header-wrapper .login-btn {
    height: 32px;
    padding-inline: 10px;
    font-size: 16px;
  }
  .stat-wrapper .stat-wrapper__users-item h5 {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .world-wrapper .world-img--mob {
    height: 410px;
  }
  .partners .partner-img:last-child {
    right: 64px;
  }
  .results-wrapper__right .card-partners__count {
    font-size: 11px;
    padding: 7px;
    border-radius: 7.115px;
  }
  #visionary .visionary-main-img {
    margin-top: -80px;
    width: 130%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #visionary {
    overflow: hidden;
  }
}
@media (max-width: 420px) {
  .blog-card h5 {
    font-size: 14px;
  }
  .hero-wrapper-series .serie h6 {
    font-size: 14px;
  }
  .hero-wrapper {
    margin-top: 120px;
    padding-top: 270px;
  }
}
@media (max-width: 350px) {
  .world-wrapper .world-img--mob {
    height: 340px;
  }
  .blog-card h5 {
    font-size: 12px;
  }
  .blog-card h3 {
    font-size: 18px;
  }
}
