* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #08070d;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}

.wrapper {
  overflow: hidden;
}

/*===== header start =====*/
header {
  background-color: rgba(8, 7, 13, 0.77);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  transition: padding-block ease-out 0.5s;
}
header.sticky {
  padding-block: 10px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper a.logo {
  flex-shrink: 0;
}
.header-wrapper a.logo img {
  display: block;
}
.header-wrapper .navlink {
  display: flex;
  align-items: center;
  -moz-column-gap: 30.88px;
       column-gap: 30.88px;
  list-style: none;
}
.header-wrapper .navlink li a {
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.header-wrapper .login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration: none;
  height: 50px;
}

/*===== header end =====*/
/*===== hero start =====*/
#hero {
  background: radial-gradient(90.88% 92.84% at 68.75% 103.9%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%, #08070d 100%);
  overflow: hidden;
}
#hero .container {
  align-content: center;
  width: 100%;
  height: 100dvh;
  position: relative;
  z-index: 1;
}

.hero-wrapper {
  max-width: 574.595px;
}
.hero-wrapper h1.title {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  line-height: 105%; /* 46.2px */
  margin-bottom: 16px;
}
.hero-wrapper h5.subtitle {
  color: #d4d4d8;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  opacity: 0.7;
}
.hero-wrapper-series {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-block: 48px 87.99px;
}
.hero-wrapper-series .serie {
  flex: 1;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-align: center;
}
.hero-wrapper-series .serie img {
  display: block;
  flex-shrink: 0;
  aspect-ratio: 23/69.01;
}
.hero-wrapper-series .serie h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-bottom: 4px;
}
.hero-wrapper-series .serie h6 {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
}
.hero-wrapper__btn {
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(180deg, #fff 0%, #cdcdcf 100%);
  box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
  padding: 20px 32px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-decoration: none;
  display: inline-block;
}
.hero-wrapper__btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
}

.heroes {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
}
.heroes__img {
  overflow: hidden;
}
.heroes img {
  display: block;
}

/*===== hero end =====*/
/*===== encounter start =====*/
#encounter {
  padding-top: 156px;
}
#encounter .title {
  max-width: 897px;
  margin-inline: auto;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%; /* 52px */
  margin-bottom: 50px;
}
#encounter .title span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
#encounter .encounter__card {
  min-height: 550px;
  --bg1: #969696;
  --bg2: #be9fc6;
  --bg3: #1f47af;
  --bg4: #08070d;
  background: radial-gradient(62.98% 103.11% at 47.31% 116.85%, #969696 33.36%, rgba(150, 150, 150, 0.35) 70.78%, rgba(8, 7, 13, 0.1) 100%);
  padding-bottom: 126px;
  align-content: end;
  position: relative;
  transition: ease-out all 10s;
  z-index: 1;
}
#encounter .encounter__card::after {
  content: " ";
  width: 100%;
  height: 153px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(78.62% 97.81% at 47.4% 100%, rgba(8, 7, 13, 0) 71.62%, #08070d 95.45%);
  bottom: -10px;
  left: 0;
  transform: rotate(180deg);
}
#encounter .encounter__card.show {
  background: radial-gradient(62.98% 103.11% at 47.31% 116.85%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%, #08070d 100%);
}
#encounter .encounter__card .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#encounter .encounter__card-about h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  margin-bottom: 12px;
}
#encounter .encounter__card-about h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
#encounter .encounter__card-about.right {
  padding-left: 60px;
  opacity: 0;
}
#encounter .encounter-img {
  display: block;
}

/*===== encounter end =====*/
/*===== results start =====*/
#results {
  padding-block: 150px 20px;
}

.results-wrapper {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.results-wrapper__left {
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
}
.results-wrapper__left h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  margin-bottom: 10px;
}
.results-wrapper__left h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.results-wrapper__right {
  flex: 1;
}
.results-wrapper__right .card {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}
.results-wrapper__right .card:not(:last-child) {
  margin-bottom: 24px;
}
.results-wrapper__right .card h4.title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%; /* 30px */
}
.results-wrapper__right .card-learning img.ellipsis {
  display: block;
  position: absolute;
  top: calc(100% - 100px);
  left: 50%;
  transform: translateX(-50%);
}
.results-wrapper__right .card-learning .counter {
  margin-top: 46px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.results-wrapper__right .card-learning .counter img {
  margin-inline: auto;
  display: block;
  margin-bottom: 20px;
}
.results-wrapper__right .card-learning .counter #count {
  border-radius: 50px;
  background: radial-gradient(246.34% 251.66% at 55.82% -84.41%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%);
  align-content: center;
  min-width: 75.195px;
  text-align: center;
  height: 60.796px;
  overflow: hidden;
  padding-inline: 10px;
  display: inline-block;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 43.375px;
  font-weight: 500;
  line-height: 130%; /* 56.387px */
  letter-spacing: -0.434px;
}
.results-wrapper__right .card-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results-wrapper__right .card-partners .main-partner {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}
.results-wrapper__right .card-partners .main-partner img {
  display: block;
  margin-bottom: 13px;
  margin-inline: auto;
  border-radius: 50%;
}
.results-wrapper__right .card-partners .main-partner h5 {
  color: #fff;
  font-size: 20.515px;
  font-weight: 500;
  line-height: 120%; /* 24.618px */
  letter-spacing: 0.57px;
}
.results-wrapper__right .card-partners .main-partner h5:last-child {
  opacity: 0.5;
  margin-top: 3.42px;
}
.results-wrapper__right .card-partners__count {
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 12.195px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.305px;
  padding: 15px 9px 14px 10px;
}
.results-wrapper__right .card-overcome img {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.partners .partner-img {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  border-radius: 50%;
  transition: ease-out filter 0.3s;
}
.partners .partner-img img {
  display: block;
  aspect-ratio: 1/1;
}
.partners .partner-img:first-child {
  opacity: 0.3;
  filter: blur(1.3241904974px);
  top: 50%;
  transform: translateY(-50%) rotate(8deg);
  left: 90px;
}
.partners .partner-img:first-child img {
  transform: scale(1.15);
}
.partners .partner-img:nth-child(2) {
  transform: rotate(-2deg);
  top: 100px;
  right: 50px;
  opacity: 0.5;
  filter: blur(1.3241904974px);
}
.partners .partner-img:nth-child(2) img {
  transform: scale(1.05);
}
.partners .partner-img:nth-child(3) {
  transform: rotate(-16deg);
  left: 90px;
  bottom: 40.85px;
  filter: blur(0.9729012847px);
}
.partners .partner-img:nth-child(3) img {
  transform: scale(1.25);
}
.partners .partner-img:last-child {
  right: 104px;
  bottom: 93px;
  filter: blur(1.8313682079px);
  transform: rotate(-4deg);
}
.partners .partner-img:last-child img {
  transform: scale(1.2);
}
.partners .partner-img:hover {
  filter: blur(0px);
}

/*===== results end =====*/
/*===== stat start ===== */
#stat {
  padding-block: 68px 50px;
  background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 34.83%);
  position: relative;
  z-index: 2;
}

.stat-btn {
  border-radius: 38.681px;
  background: radial-gradient(302.55% 255.89% at 37.2% 247.19%, #e6b8a8 20.37%, #be9fc6 52.91%, #1f47af 100%);
  color: #fff;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 310.463px;
  min-height: 69.987px;
  padding-inline: 15px;
  font-size: 16.893px;
  font-weight: 500;
  line-height: 100%; /* 16.893px */
  letter-spacing: 0.603px;
  display: block;
  align-content: center;
  text-decoration: none;
  margin-left: auto;
}
.stat-wrapper {
  margin-top: 112px;
  background-image: url("../svg/lines.svg");
  background-repeat: no-repeat;
  background-size: 2307.59px 468.232px;
  background-position: center;
  min-height: 468.232px;
  align-content: center;
}
.stat-wrapper .stat-logo {
  display: block;
  flex-shrink: 0;
}
.stat-wrapper .container {
  display: flex;
  align-items: center;
  -moz-column-gap: 243px;
       column-gap: 243px;
}
.stat-wrapper .flex {
  width: 100%;
  display: flex;
}
.stat-wrapper .flex:first-child {
  justify-content: flex-end;
  -moz-column-gap: 100px;
       column-gap: 100px;
  transform: translateY(-50px);
}
.stat-wrapper .flex:first-child .stat-wrapper__users-item:first-child {
  transform: translateY(30px);
}
.stat-wrapper .flex:last-child {
  transform: translateY(80px);
  justify-content: space-between;
}
.stat-wrapper .flex:last-child .stat-wrapper__users-item:last-child {
  transform: translateY(50px);
  margin-right: 100px;
}
.stat-wrapper .stat-wrapper__users {
  width: 100%;
}
.stat-wrapper .stat-wrapper__users-item {
  max-width: 270.618px;
}
.stat-wrapper .stat-wrapper__users-item img {
  display: block;
  margin-bottom: 15px;
}
.stat-wrapper .stat-wrapper__users-item h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.72px;
}
.stat-wrapper .stat-wrapper__users-item h5 span {
  color: rgba(255, 255, 255, 0.5);
}

/*===== stat end ===== */
/*===== relevant start =====*/
#relevant {
  padding-block: 150px;
}

.relevant-wrapper h3.title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  margin-bottom: 10px;
}
.relevant-wrapper h4.subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
}

.relevant-splide {
  margin-block: 75px 60px;
}
.relevant-splide .splide__track {
  overflow: hidden;
  border-radius: 50px;
}
.relevant-splide .splide__pagination {
  display: none;
}
.relevant-splide .splide__arrow {
  background-color: transparent;
  width: 44px;
  height: 44px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.relevant-splide .splide__arrow--next {
  background-image: url("../svg/next.svg");
  right: -64px;
}
.relevant-splide .splide__arrow--prev {
  background-image: url("../svg/prev.svg");
  left: -64px;
}
.relevant-splide .splide__arrow svg {
  display: none;
}
.relevant__card {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  padding: 24px;
  min-height: 575px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.relevant__card.bg {
  background-image: url("../images/type4.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.relevant__card h4.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%; /* 30px */
  margin-bottom: 20px;
}
.relevant__card h5.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
}
.relevant__card-images {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
}
.relevant__card-images img {
  display: block;
}
.relevant__card-images.type-one img:first-child {
  margin-left: auto;
  margin-bottom: 23px;
}
.relevant__card-images.type-one img:last-child {
  margin-right: auto;
}
.relevant__card-images.type-two {
  padding-inline: 24px;
}
.relevant__card-images.type-two img:last-child {
  margin-left: 87px;
  margin-top: 23px;
}
.relevant__card-images.type-three {
  width: 100%;
  padding-inline: 24px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.relevant__card-images.type-three img:first-child {
  margin-top: -160px;
}
.relevant__card-images.type-three img:nth-child(2) {
  margin-top: -80px;
}
.relevant__card-images.type-four {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: static;
}
.relevant__card-images.type-four img:first-child {
  margin-top: 100px;
  margin-right: -30px;
}
.relevant__card-about {
  transition: ease-out all 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: rgb(25, 24, 29);
  z-index: -1;
  color: #fff;
  overflow-y: auto;
}
.relevant__card-about h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%; /* 30px */
  margin-bottom: 20px;
}
.relevant__card-about h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
}
.relevant__card-about h6:not(:last-child) {
  margin-bottom: 8px;
}
.relevant__card-about h6 span {
  color: rgba(255, 255, 255, 0.5);
}
.relevant__card:hover .relevant__card-about {
  opacity: 1;
  z-index: 2;
}
.relevant-btn {
  border-radius: 999px;
  border: 2px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(180deg, #fff 0%, #fff 100%);
  box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
  padding: 20px 32px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-decoration: none;
}

/*===== relevant end =====*/
/*===== Visionary start =====*/
#visionary {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  border-radius: 40px 40px 90px 90px;
  padding-top: 100px;
  background-image: url("../svg/visionary-bg.svg"), radial-gradient(127.4% 127.4% at 47.31% -25.31%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%, #08070d 100%);
  background-position: top center, top center;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
}
#visionary::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 296.859px;
  z-index: 4;
  background: linear-gradient(180deg, rgba(8, 7, 13, 0) 0%, #08070d 100%);
}
#visionary .title-block {
  text-align: center;
  position: relative;
  z-index: 4;
}
#visionary .title-block h5 {
  color: #fff;
  font-size: 20.921px;
  font-weight: 400;
  line-height: 20.921px; /* 100% */
  letter-spacing: -0.314px;
  margin-bottom: 25px;
}
#visionary .title-block h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -2.092px;
}
#visionary .title-block h1 span {
  color: rgba(255, 255, 255, 0.5);
}
#visionary .visionary-main-img {
  margin-top: -250px;
  margin-inline: auto;
  display: block;
  position: relative;
  z-index: 3;
}
#visionary .visionary-cards {
  position: absolute;
  top: 10%;
  padding-inline: 40px;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: minmax(170px, auto) minmax(170px, auto);
  justify-content: space-between;
  align-items: anchor-center;
}
#visionary .visionary-cards .card {
  opacity: 0.7;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.12);
  width: 100%;
  max-width: 280px;
  min-height: 170px;
  padding: 19px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#visionary .visionary-cards .card:nth-child(odd) {
  transform: rotate(10deg) skewX(10deg);
}
#visionary .visionary-cards .card:nth-child(even) {
  transform: rotate(-10deg) skewX(-10deg);
}
#visionary .visionary-cards .card img {
  display: block;
}
#visionary .visionary-cards .card h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

/*===== Visionary end =====*//*# sourceMappingURL=style.css.map */