* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #08070d;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}

.wrapper {
  overflow: hidden;
}

/*===== header start =====*/
header {
  background-color: rgba(8, 7, 13, 0.77);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  transition: padding-block ease-out 0.5s;
}
header.sticky {
  padding-block: 10px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper a.logo {
  flex-shrink: 0;
}
.header-wrapper a.logo img {
  display: block;
}
.header-wrapper .navlink {
  display: flex;
  align-items: center;
  -moz-column-gap: 30.88px;
       column-gap: 30.88px;
  list-style: none;
}
.header-wrapper .navlink li a {
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.header-wrapper .login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration: none;
  height: 50px;
}

/*===== header end =====*/
/*===== hero start =====*/
#hero {
  background: radial-gradient(90.88% 92.84% at 68.75% 103.9%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%, #08070d 100%);
  overflow: hidden;
}
#hero .container {
  align-content: center;
  width: 100%;
  height: 100dvh;
  position: relative;
  z-index: 1;
}

.hero-wrapper {
  max-width: 574.595px;
}
.hero-wrapper h1.title {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  line-height: 105%; /* 46.2px */
  margin-bottom: 16px;
}
.hero-wrapper h5.subtitle {
  color: #d4d4d8;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  opacity: 0.7;
}
.hero-wrapper-series {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-block: 48px 87.99px;
}
.hero-wrapper-series .serie {
  flex: 1;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-align: center;
}
.hero-wrapper-series .serie img {
  display: block;
  flex-shrink: 0;
  aspect-ratio: 23/69.01;
}
.hero-wrapper-series .serie h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-bottom: 4px;
}
.hero-wrapper-series .serie h6 {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
}
.hero-wrapper__btn {
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(180deg, #fff 0%, #cdcdcf 100%);
  box-shadow: 0 4px 3px 0 rgba(255, 255, 255, 0.15) inset;
  padding: 20px 32px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-decoration: none;
  display: inline-block;
  transition: ease-in-out all 0.3s;
}
.hero-wrapper__btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
}

.heroes {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
}
.heroes__img {
  overflow: hidden;
}
.heroes img {
  display: block;
}

/*===== hero end =====*/
/*===== encounter start =====*/
#encounter {
  padding-top: 156px;
}
#encounter .title {
  max-width: 897px;
  margin-inline: auto;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%; /* 52px */
  margin-bottom: 50px;
}
#encounter .title span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
#encounter .encounter__card {
  min-height: 550px;
  --bg1: #969696;
  --bg2: #be9fc6;
  --bg3: #1f47af;
  --bg4: #08070d;
  background: radial-gradient(62.98% 103.11% at 47.31% 116.85%, #969696 33.36%, rgba(150, 150, 150, 0.35) 70.78%, rgba(8, 7, 13, 0.1) 100%);
  padding-bottom: 126px;
  align-content: end;
  position: relative;
  transition: ease-out all 10s;
  z-index: 1;
}
#encounter .encounter__card::after {
  content: " ";
  width: 100%;
  height: 153px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(78.62% 97.81% at 47.4% 100%, rgba(8, 7, 13, 0) 71.62%, #08070d 95.45%);
  bottom: -10px;
  left: 0;
  transform: rotate(180deg);
}
#encounter .encounter__card.show {
  background: radial-gradient(62.98% 103.11% at 47.31% 116.85%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%, #08070d 100%);
}
#encounter .encounter__card .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#encounter .encounter__card-about h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  margin-bottom: 12px;
}
#encounter .encounter__card-about h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
#encounter .encounter__card-about.right {
  padding-left: 60px;
  opacity: 0;
}
#encounter .encounter-img {
  display: block;
}

/*===== encounter end =====*/
/*===== results start =====*/
#results {
  padding-block: 150px 112px;
}

.results-wrapper {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  margin-bottom: 106px;
}
.results-wrapper__left {
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
}
.results-wrapper__left h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  margin-bottom: 10px;
}
.results-wrapper__left h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.results-wrapper__right {
  flex: 1;
}
.results-wrapper__right .card {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}
.results-wrapper__right .card:not(:last-child) {
  margin-bottom: 24px;
}
.results-wrapper__right .card h4.title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%; /* 30px */
}
.results-wrapper__right .card-learning img.ellipsis {
  display: block;
  position: absolute;
  top: calc(100% - 100px);
  left: 50%;
  transform: translateX(-50%);
}
.results-wrapper__right .card-learning .counter {
  margin-top: 46px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.results-wrapper__right .card-learning .counter img {
  margin-inline: auto;
  display: block;
  margin-bottom: 20px;
}
.results-wrapper__right .card-learning .counter #count {
  border-radius: 50px;
  background: radial-gradient(246.34% 251.66% at 55.82% -84.41%, #e6b8a8 20.37%, #be9fc6 33.36%, #1f47af 70.78%);
  align-content: center;
  min-width: 75.195px;
  text-align: center;
  height: 60.796px;
  overflow: hidden;
  padding-inline: 10px;
  display: inline-block;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 43.375px;
  font-weight: 500;
  line-height: 130%; /* 56.387px */
  letter-spacing: -0.434px;
}
.results-wrapper__right .card-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results-wrapper__right .card-partners .main-partner {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}
.results-wrapper__right .card-partners .main-partner img {
  display: block;
  margin-bottom: 13px;
  margin-inline: auto;
  border-radius: 50%;
}
.results-wrapper__right .card-partners .main-partner h5 {
  color: #fff;
  font-size: 20.515px;
  font-weight: 500;
  line-height: 120%; /* 24.618px */
  letter-spacing: 0.57px;
}
.results-wrapper__right .card-partners .main-partner h5:last-child {
  opacity: 0.5;
  margin-top: 3.42px;
}
.results-wrapper__right .card-partners__count {
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 12.195px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.305px;
  padding: 15px 9px 14px 10px;
}
.results-wrapper__right .card-overcome img {
  position: absolute;
  bottom: 0;
  right: 30px;
}
.results-btn {
  border-radius: 38.681px;
  background: radial-gradient(302.55% 255.89% at 37.2% 247.19%, #e6b8a8 20.37%, #be9fc6 52.91%, #1f47af 100%);
  color: #fff;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 310.463px;
  min-height: 69.987px;
  padding-inline: 15px;
  font-size: 16.893px;
  font-weight: 500;
  line-height: 100%; /* 16.893px */
  letter-spacing: 0.603px;
  display: block;
  align-content: center;
  text-decoration: none;
  margin-left: auto;
}

.partners .partner-img {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  border-radius: 50%;
  transition: ease-out filter 0.3s;
}
.partners .partner-img img {
  display: block;
  aspect-ratio: 1/1;
}
.partners .partner-img:first-child {
  opacity: 0.3;
  filter: blur(1.3241904974px);
  top: 50%;
  transform: translateY(-50%) rotate(8deg);
  left: 90px;
}
.partners .partner-img:first-child img {
  transform: scale(1.15);
}
.partners .partner-img:nth-child(2) {
  transform: rotate(-2deg);
  top: 100px;
  right: 50px;
  opacity: 0.5;
  filter: blur(1.3241904974px);
}
.partners .partner-img:nth-child(2) img {
  transform: scale(1.05);
}
.partners .partner-img:nth-child(3) {
  transform: rotate(-16deg);
  left: 90px;
  bottom: 40.85px;
  filter: blur(0.9729012847px);
}
.partners .partner-img:nth-child(3) img {
  transform: scale(1.25);
}
.partners .partner-img:last-child {
  right: 104px;
  bottom: 93px;
  filter: blur(1.8313682079px);
  transform: rotate(-4deg);
}
.partners .partner-img:last-child img {
  transform: scale(1.2);
}
.partners .partner-img:hover {
  filter: blur(0px);
}

/*===== results end =====*//*# sourceMappingURL=style.css.map */